<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tlunter.amtrak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/amtrak_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StatusDisplay"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RouteSettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".StatusDisplay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlunter.amtrak.StatusDisplay" />
        </activity>
        <activity
            android:name=".NetworkConnectivity"
            android:label="@string/title_activity_network_connectivity" >
        </activity>
        <meta-data
            android:name="DATABASE"
            android:value="trains.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tlunter" />
    </application>

</manifest>
